:root {
  --vx-primary: $vx-colors['primary'];
  --vx-danger: $vx-colors['danger'];
  --vx-success: $vx-colors['success'];
  --vx-dark: $vx-colors['dark'];
  --vx-warning: $vx-colors['warning'];
  --vx-light: $vx-colors['light'];
}
